/* Stylesheet May 23 Fri 2025 Jinil Park */
* {
    margin: 0;
    padding: 0;
}
html {
    background-image: url("../images/rain_background.gif");
    background-attachment: fixed;
}
body {
    position: relative;
    display: grid;
    grid-template-areas: 
        "head"
        "main"
        "foot";
    /* background: linear-gradient(to right, #FFFFFF, #ECE9E6);  */
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 2em;
    margin: 0 15em;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    grid-area: head;
}
#nav_menu {
    background: linear-gradient(to right, #134e5e, #71b280);
    border-bottom: 1px double black;
}
#nav_menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4em;
}
#nav_menu ul li {
    width: 25%;
    text-align: center;
    border-right: 1px solid white;
}
#nav_menu ul li:last-child { border-right: none; }
#nav_menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 110%;
    font-weight: bold;
}
#nav_menu ul li a:hover, div a:hover{
    font-size: 130%;
}
a {
    transition: font-size 0.7s;
}


main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
main div {
    padding-bottom: 2em;
    width: 80%;
    margin: auto;
    font-size: 110%;
    line-height: 1.5em;
}
main div p, main div ul {
    max-width: 65ch;
    text-align: left;
}
main div p {
    margin: 1em 0;
}
main div h2 {
    border-bottom: 2px solid black;
    margin: 1em 0 1em 0;
    padding-bottom: 0.3em;
    font-size: 150%;
}
main h1 {
    font-size: 220%;
    padding: 1em;
}
main img {
    max-width: 17em;
    border-radius: 6em;
}
main div h3 {
    margin-top: 2em;
}
main div ul {
    list-style-type: square;
}
main div ul li {
    margin-top: 0.3em;
}

footer {
    position: absolute;
    grid-area: foot;
    height: 3em;
    display: flex;
    justify-content: center;
    width: 100%;
}
footer p {
    position: absolute;
    padding: 1em;
    color: white;
    font-size: 80%;
}
footer p:last-child {
    position: relative;
    left: 55%;
}